<div layout:fragment="profile-data" layout:decorate="~{layouts/profile}" xmlns:layout="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <h1> Give a mark to a student </h1>
    <h2>Your subject: <b th:text="${subject.displayValue}"></b></h2>

    <div th:insert="fragments/forms/give_mark :: form"></div>

    <div th:if="${mark_given}">
        <p th:text="${mark_given}"></p>
    </div>

    <div th:if="${giving_mark_fail}">
        <p th:text="${giving_mark_fail}"></p>
    </div>

    <p>Click <a th:href="@{/mainpage}">here</a> to go back.</p>
</div>

<script type="text/javascript">
    $(function () {
        function hideStudentSelects (){
            $( 'p[id^=\'p_\']' ).each(function() {
                $(this).hide();
            });
        }

        hideStudentSelects();

        $("#class_select").change(function() {
            hideStudentSelects();
            var id = $(this).children(":selected").attr("id");
            $("#p_" + id).show();
            $("#select_" + id).attr('name','user');
        });
    });
</script>