<div layout:fragment="profile-data" layout:decorate="~{layouts/profile}" xmlns:layout="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <h1> Your grades </h1>
    <table>
        <tr>
            <th>Grade</th>
            <th>Subject</th>
            <th>Given by teacher:</th>
        </tr>
        <tr th:each="i:${gradesInfo}">
            <td th:text="${i.grade}"></td>
            <td th:text="${i.subject}"></td>
            <td th:text="${i.name}+' '+${i.surname}"></td>
        </tr>
    </table>
    <p>Click <a th:href="@{/mainpage}">here</a> to go back.</p>
</div>