<div layout:fragment="form" layout:decorate="~{layouts/profile}" xmlns:layout="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <form th:action="@{/give_mark}" th:object="${grade}" method="post">
        <!--        Tutaj wcześniej wybór klasy, a dopiero potem uczniowie-->
        <p>
            <label>Class</label>
            <select class="browser-default" id="class_select">
<!--                <option th:each="className : ${T(com.gradebook.entities.classes.ClassName).values()}"-->
<!--                        th:value="${className}" th:text="${className}"></option>-->
                <option value="IIA">IIA</option>
                <option value="IIB">IIB</option>
            </select>
        </p>
        <p id="select_student">DUPA</p>
        <select th:field="*{grade}">
            <option th:value="6" th:text="6"></option>
            <option th:value="5" th:text="5"></option>
            <option th:value="4" th:text="4"></option>
            <option th:value="3" th:text="3"></option>
            <option th:value="2" th:text="2"></option>
            <option th:value="1" th:text="1"></option>
        </select>
        <input type="submit" value="Submit"/>
    </form>

</div>


<!--doesnt work yet-->
<script type="text/javascript">
    $(function () {
        $("#class_select").change(function() {
            var val = $(this).val();
            if(val === "IIA") {
                $("#select_student").show();
            }
            else if(val === "IIB") {
                $("#select_student").hide();
            }
        });
    });
</script>