<div layout:fragment="form" layout:decorate="~{layouts/entry}" xmlns:layout="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <h1>Rejestracja</h1>
    <div th:if="${register_fail}">
        <p th:text="${register_fail}"></p>
    </div>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <p>Nazwa użytkownika: <input type="text" th:field="*{username}" /></p>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>

        <p>Imię: <input type="text" th:field="*{name}" /></p>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>

        <p>Nazwisko: <input type="text" th:field="*{surname}" /></p>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

        <p>Status: <input type="text" th:field="*{status}" /></p>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{status}">Name Error</p>

        <p>Email: <input type="text" th:field="*{email}" /></p>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>

        <p>Hasło: <input type="password" th:field="*{password}" /></p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>

        <p>Powtórz hasło: <input type="password"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>