<div layout:fragment="form" layout:decorate="~{layouts/entry}" xmlns:layout="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <h1>Rejestracja</h1>
    <div th:if="${register_fail}">
        <p th:text="${register_fail}"></p>
    </div>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <p>Nazwa użytkownika: <input type="text" th:field="*{username}" /></p>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>

        <p>Imię: <input type="text" th:field="*{name}" /></p>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

        <p>Nazwisko: <input type="text" th:field="*{surname}" /></p>
        <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</p>

        <p>
            <label>Status</label>
            <select class="browser-default" th:field="*{status}" id="status" name="status">
                <option th:value="STUDENT" th:text="STUDENT" selected></option>
                <option th:value="TEACHER" th:text="TEACHER"></option>
            </select>
        </p>
        <p th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</p>

        <p id="select">
            <label>Class</label>
            <select class="browser-default" th:field="${class.className}" id="className" name="className">
                <option th:each="className : ${T(com.gradebook.entities.classes.ClassName).values()}"
                        th:value="${className}" th:text="${className}"></option>
            </select>
        </p>

        <p>Email: <input type="email" th:field="*{email}" /></p>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>

        <p>Hasło: <input type="password" th:field="*{password}" /></p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>

        <p>Powtórz hasło: <input type="password" th:field="*{password_repeated}"/></p>
        <p th:if="${#fields.hasErrors('password_repeated')}" th:errors="*{password_repeated}">Name Error</p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $("#status").change(function() {
            var val = $(this).val();
            if(val === "STUDENT") {
                $("#select").show();
            }
            else if(val === "TEACHER") {
                $("#select").hide();
            }
        });
    });
</script>